footer {
    background: var(--bg-color);
    color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}
footer p {
    text-align: center;
    margin-bottom: 1rem;
}
footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    text-align: center;
    justify-content: center;
}
footer ul a {
    color: #eee;
    text-decoration: none;
}