:root {
    --navText-color: #eee;
}
nav.navbar {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    position: fixed;
    background: rgba(51, 51, 51, 0.7);
    width: 100%;
    inset: 0;
    height: 7.5rem;
    color: #eee;
    backdrop-filter: blur(1px);
    
}
nav.navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    column-gap: 1.5rem;
}
nav.navbar ul li a {
    color: #eee;
    text-decoration: none;
}
@media all and (max-width: 1200px) {
    nav.navbar {
        padding: 1.5rem;
        position: static;
        flex-direction: column;
        row-gap: 1rem;
        height: 100%;
    }
    nav.navbar ul {
        flex-direction: column;
        row-gap: 1rem;
    }
    
}