:root {
    --navText-color: #eee;
}
nav.navbar {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    background: #eee;
    backdrop-filter: blur(5px);
}
nav.navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    column-gap: 1.5rem;
}
nav.navbar ul li a {
    color: #000;
    text-decoration: none;
}