button.pillBtn {
    padding: 1rem 1rem;
    border-radius: 4rem;
    border: none;
    background: rgb(51, 51, 51);
    color: var(--navText-color);
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}